/* Reset */

body {
  margin: 0;
}

blockquote,
pre,
ol,
ul,
figure {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
  border: none;
}

article,
aside,
figure,
footer,
header,
aside,
main,
nav {
  display: block;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #ccc;
  background-color: #111;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
}

a {
  color: #fff;
  text-decoration: none;
}

nav a {
  padding: .5rem 1rem;
}

.wrapper {
  max-width: 800px;
  padding: 20px;
  margin: 0 auto;
}